# vim:set et sw=2 ts=2 tw=1000:
source_up

leetcode session -e csharp

xgrep() {
  if [[ "$OSTYPE" == "darwin"* ]]; then
    grep -E $*
  else
    grep -P $*
  fi
}
export_function xgrep

p() {
  id="$1"
  export LC_DOING="$1"
  cd "$(git rev-parse --show-toplevel)/cs/src/"
  leetcode show "$1" --gen --extra -l csharp
  new_file="$(ls "$1"*cs)"
  sed -i "" 's/class Solution/partial class Solution/' "$new_file"
  cd ..
}

export_function p

# gen test
gt() {
  cd "$(git rev-parse --show-toplevel)/cs"
  CODE=$(git ls-files --others --exclude-standard | xgrep 'src/\d+.*.cs' | sed 's/src\///')
  if [[ -f ./test/$CODE ]]; then
    echo ./test/$CODE exists!
    return
  fi
  cat <<EOF >./test/$CODE
using System;
using System.Collections.Generic;
using NUnit.Framework;

public partial class SolutionTest
{
    [Test]
    public void TestXXX()
    {
        var sln = new Solution();
        var tests = new List<Tuple<>>
        {
            new Tuple<>(),
          };

        foreach (var ( expected) in tests)
        {
            var got = sln.XXX();
          }
      }
  }
EOF

  # replace function name
  FUNC=$(cat src/$CODE | xgrep -v '\s\*' | xgrep -o '\s+\w+\(' | tr -d ' ()')
  sed -i "" "s/XXX/$FUNC/" ./test/$CODE
}

export_function gt

# next
n() {
  LOCKED_EASY="(157|170|243|246|252|256|266|270|276|293|339|346|359|408|422|511|512|577|584|586|597|603|604|607|610|613|619|624|716|734|751|758|760|800)"

  # 401 - binary watch is hard
  # others are not supported for golang
  SKIPPED_PROBLEMS="(401|427|429|558|559|589|590|595|596|620|627)"
  NEXT_PROBLEM=$(leetcode ls -q eD | awk '{print $3}' | tr -d ']' | grep -vE $LOCKED_EASY | grep -vE $SKIPPED_PROBLEMS | tail -n 1)
  p $NEXT_PROBLEM
}

export_function n

c() {
  CODE=$(git ls-files --others --exclude-standard | xgrep 'src/\d+.*.cs')
  TEST=$(git ls-files --others --exclude-standard | xgrep 'test/\d+.*.cs')
  rider $TEST $CODE
}
export_function c

sm() {
  cd "$(git rev-parse --show-toplevel)/cs"
  CODE=$(git ls-files --others --exclude-standard | xgrep 'src/\d+.*.cs')
  echo "leetcode submit $CODE"
  leetcode submit $CODE
}

export_function sm
