source_up

p() {
  id="$1"
  export LC_DOING="$1"
  leetcode show "$1" --gen --extra -l golang
}

export_function p

# gen test
gt(){
  # find the new generated go file
  TARGET=$(git ls-files --others --exclude-standard | grep -v "_test.go" | grep -E '\d+\..*\.go')
  echo $TARGET
  FUNC_NAME=$(cat $TARGET | egrep  -wo 'func \w*' | sed 's/func //')
  echo $FUNC_NAME
  gotests -only $FUNC_NAME -i  -template_dir ./templates -w .
}
export_function gt

# next
n(){
  NEXT_PROBLEM=$(leetcode ls -q eD | tail -n 3 | head -n 1 | awk '{print $3}' | tr -d ']')
  p $NEXT_PROBLEM
  sed -i '' '1i\
    package main

  ' "$NEXT_PROBLEM".*.go
  gofmt -e -s -w $NEXT_PROBLEM.*.go
}

export_function n
